.review-block {
/*    background-color: #682775;*/
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    border-radius: 10px;
}

.review-block p {
    margin: 0;
}

.customer-quote{
    padding-bottom: 10px;
}

.customer-name,
.reviewer-company{
    text-align: right;
    display: block;
}

.customer-name{
    font-weight: 800;
}

.reviewer-company{
    padding-bottom: 10px;
}

.review-image-box {
    height: 100%;
    width: 100%;
    text-align: center;
}

.review-after-image-box,
.review-before-image-box {
    text-align: center;
}

.customer-date,
.star-box {
    padding-bottom: 20px;
}

.review-image-box h3,
.review-after-image-box h3,
.review-before-image-box h3 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.review-images .review-image-box {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.review-images .review-image-box h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.wpcf7-form label {
    margin: 0 0 8px;
    font-weight: 600;
    text-align: left;
    color: #4b5c7e;
    font-size: 18px;
    line-height: 1.618;
/*
    display: inline-block;
    vertical-align: middle;
*/
}

.wpcf7-form p {
    margin-bottom: 10px;
}

.wpcf7-form .your-stars label:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 10px;
    text-rendering: auto;
    display: inline-block;
    color: gold;
    letter-spacing: 2px;
    vertical-align: inherit;
}

.wpcf7-form .your-stars .wpcf7-list-item-label {
    opacity: 0;
}

.wpcf7-form .your-stars .first label:before {
    content: "\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(2) label:before {
    content: "\f005\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(3) label:before {
    content: "\f005\f005\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(4) label:before {
    content: "\f005\f005\f005\f005";
}

.wpcf7-form .your-stars .last label:before {
    content: "\f005 \f005 \f005 \f005 \f005";
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 480px) {}
