/*CSS for Testimonials Page*/

.review-block{
    padding: 10px 0;
    margin: 15px 0;
    background-color: #0f75bc;
    color: white;
}

.review-block p{
    padding: 0 20px;
    margin: 0;
    color: white!important;
}

.review-block .fa{
    color: white;
}

.review-block .star-box{
    padding: 20px;
}

.review-block .customer-name{
    padding-top: 10px;
}

/*CSS for GMG Capture Forms*/

#gmg-review-form button{
    background-color: #7F3333;
}

#gmg-review-form button:hover{
    background-color: black;
}

.review-form-box {
    margin: 2% 0 1%;
}

.review-form-box.name {
    width: 100%;
    display: inline-block;
}

.review-form-box input.names {
    width: 48%;
    display: inline-block;
    margin: 0 1% 0 0;
}

.review-form-box label{
    display: block;
}

.review-form-box input.stars {
    margin: 0 0 0 1%;
}

.review-form-box select#webdev_form_category {
    width: 60%;
}

.review-form input#webdev_form_c_id{
    height: 1px;
    padding: 0px;
}

.wpcf7-form label {
    margin: 0 0 8px;
    font-weight: 600;
    text-align: left;
    color: #4b5c7e;
    font-size: 18px;
    line-height: 1.618;
/*
    display: inline-block;
    vertical-align: middle;
*/
}

.wpcf7-form p {
    margin-bottom: 10px;
}

.wpcf7-form .your-stars label:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 10px;
    text-rendering: auto;
    display: inline-block;
    color: gold;
    letter-spacing: 2px;
    vertical-align: inherit;
}

.wpcf7-form .your-stars .wpcf7-list-item-label {
    opacity: 0;
}

.wpcf7-form .your-stars .first label:before {
    content: "\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(2) label:before {
    content: "\f005\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(3) label:before {
    content: "\f005\f005\f005";
}

.wpcf7-form .your-stars .wpcf7-list-item:nth-child(4) label:before {
    content: "\f005\f005\f005\f005";
}

.wpcf7-form .your-stars .last label:before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

/*SIDEBAR*/

.sidebar .review-form-box {
    margin: 20px 0;
}

/* Media Queries
---------------------------------------------*/

@media only screen and (max-width: 800px) {

    .form-names input.names {
        width: 100%;
        display: block;
        margin: 2%;
    }

    .form-tags .checkbox-unit {
        width: 100%;
        display: block;
        padding: 1%;
    }

}
