/*CSS for GMG Lead Chaser*/

#email-reveal{
    color: blue;
    text-decoration: underline;
}

#email-reveal:hover{
    cursor: pointer;
}

.leads-info{
    float: left;
    width: 100%;
    text-align: center;
    background-color: white;
}

.leads-info .leads-snapshot,
.leads-info .leads-graph{
    float: left;
    display: inline-block;
    width: 49%;
}

.leads-action{
    padding-top: 30px;
    float: left;
    width: 100%;
}

.leads-action .leads-update-form{
    float: left;
    width: 50%;
}