/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

p.subscribed {
    color: green;
}

p.not-subscribed {
    color: red;
}

.wp-core-ui .button-primary.red {
    background-color: red;
}

