/*CSS for GMG Capture Forms*/

.form-names input.names {
    width: 49%;
    display: inline-block;
}

.form-names label,
.form-tags strong {
    display: block;
}

.form-names input.names:first-of-type {
    margin-right: 2%;
}

.form-tags label {
    /*    padding: 0 25px 0 10px;*/
}

.form-tags .checkbox-unit {
    width: 32%;
    display: inline-block;
    padding: 1%;
}

.checkbox-unit.other label,
.checkbox-unit.other input {
    display: inline-block;
}

.checkbox-unit.other input {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
}

/* Media Queries
---------------------------------------------*/

@media only screen and (max-width: 800px) {

    .form-names input.names {
        width: 100%;
        display: block;
        margin: 2%;
    }

    .form-tags .checkbox-unit {
        width: 100%;
        display: block;
        padding: 1%;
    }

}
